body {
    border: 3px solid red;
}

.header {
    border:3px solid orange;
    
}
.banner {
    border:3px solid orange;
    
}
.about {
    border:3px solid orange;
    
}
.logo{
    border: 3px solid yellow;
}
.menu{
    border: 3px solid yellow;
}

.menu li {
    border: 3px solid green;
}
.banner-contents {
    border: 3px solid yellow;
    
}
.banner-tile {
    border: 3px solid green;
}
.banner-desc {
    border: 3px solid green;
}
.about {
    border: 3px solid yellow;

}

.about1 {
    border: 3px solid green;
}
